body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  text-align: center;
  padding: 30px;
}

.movie p {
  text-align: center;
}